<div>
  <a [routerLink]="['/']">Home</a>
  <a [routerLink]="['/about']">About</a>
  <a [routerLink]="['/company']">Company</a>
  <a [routerLink]="['/products']">Products</a>
</div>
<div>
  <a [routerLink]="previousUrlViaRoutesRecognized$ | async">&lt; Back</a>
</div>

<router-outlet></router-outlet>

<hr />

<div>
  <h4>Via NavigationEnd</h4>
  <div>previous URL: {{ previousUrlViaNavigationEnd$ | async }}</div>
  <div>current URL: {{ currentUrlViaNavigationEnd$ | async }}</div>
</div>

<div>
  <h4>Via RoutesRecognized</h4>
  <div>previous URL: {{ previousUrlViaRoutesRecognized$ | async }}</div>
  <div>current URL: {{ currentUrlViaRoutesRecognized$ | async }}</div>
</div>

<div>
  <h4>Via RouterHistoryService</h4>
  <div>previous URL: {{ previousUrlViaRouterHistoryService$ | async }}</div>
  <div>current URL: {{ currentUrlViaRouterHistoryService$ | async }}</div>
</div>
